<div class='container'>
    <h4>Top</h4>
        <div class="row">
            <div *ngFor='let product of productsTop | async; let i=index'>
                <div class='col' *ngIf='i<numberOfProducts'>
                    <a href="#">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" [src]="product.url" [alt]="product.id" >
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class='card-text'>Description {{product.albumId}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <h4>Popular</h4>
        <div class="row">
            <div *ngFor='let product of productsPopular | async; let i=index'>
                <div class='col' *ngIf='i<numberOfProducts'>
                    <a href="#">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" [src]="product.url" [alt]="product.id" >
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class='card-text'>Description {{product.albumId}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <h4>Featured</h4>
        <div class="row">
            <div *ngFor='let product of productsFeatured | async; let i=index'>
                    <div class='col' *ngIf='i<numberOfProducts'>
                        <a href="#">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" [src]="product.url" [alt]="product.id" >
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.title }}</h5>
                                    <p class='card-text'>Description {{product.albumId}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </div>

        <h4>Recommended</h4>
        <div class="row">
            <div *ngFor='let product of productsRecommended | async; let i=index'>
                    <div class='col' *ngIf='i<numberOfProducts'>
                        <a href="#">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" [src]="product.url" [alt]="product.id" >
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.title }}</h5>
                                    <p class='card-text'>Description {{product.albumId}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
</div>