<div class='jumbotron'>
  <div *ngIf='inCart'>
    <h1 class="display-4">{{ 'cart.title' | translate }}</h1>
  </div>
  <div *ngIf='!inCart'>
    <h1 class="display-4">{{ 'payment.title' | translate }}</h1>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <div *ngIf='inCart'><app-cart></app-cart></div>
    <div *ngIf='!inCart'><app-payment></app-payment></div>
    </div>

    <div class='col-md-4'>
      <h5>{{ 'payment.tableTitle' | translate }}</h5>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'payment.nameCol' | translate }}</th>
            <th scope="col">{{ 'payment.quantityCol' | translate }}</th>
            <th scope="col">{{ 'payment.priceCol' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf='cart.size > 0'>
          <ng-container *ngFor='let item of getKeys(); let i=index'>
            <tr>
              <th scope="row">{{i+1}}</th>
              <td>{{item.name}}</td>
              <td>{{cart.get(item)}}</td>
              <td>{{item.price}}</td>
            </tr>
          </ng-container>
          <tr>
            <th scope="row"></th>
            <td colspan='2'><b>{{ 'payment.total' | translate }} </b></td>
            <td><b>{{totalCost}}</b></td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class='row align-items-start justify-content-start'>
    <div *ngIf='inCart'>
      <button [disabled]='!authService.isAuthenticated || !(cart.size>0)' class='btn btn-primary' type='button' (click)='changeContent()' [routerLink]="['/payment']">{{ 'cart.paymentButton' | translate }}</button>
    </div>
    <div *ngIf='!inCart'>
        <button [disabled]='!authService.isAuthenticated || !(cart.size>0)' class='btn btn-primary' type='button' (click)='changeContent()' [routerLink]="['/cart']">{{ 'payment.backButton' | translate }}</button>
    </div>
  </div>

</div>