<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">Kondekas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li *ngIf="authService.isAdmin" class="nav-item">
        <a class="nav-link" routerLink="/admin">Manage</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto" *ngIf="!authService.isAuthenticated">
      <li class='nav-item'>
        <a class='btn btn-outline-primary' routerLink='/cart'>Shopping cart</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary mr-2" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" routerLink="/register">Register</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto" *ngIf="authService.isAuthenticated">
      <li class="nav-item">
        <button class="btn btn-outline-danger" (click)="onLogOut()">Log Out</button>
      </li>
    </ul>
  </div>
</nav>