<div class='row'>
  <h4>{{ 'cart.items' | translate }}{{cart.size}}</h4>
</div>
  
<div class='row'>
  <div class='col-auto-6'>
    <div *ngFor='let product of getKeys()'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>{{product.title}}</h5>
          <p class='card-text'>Description will be shown here!</p>
          <button class='btn btn-primary' (click)='removeFromCart(product)'>{{ 'cart.removeItem' | translate }}</button>
          <div class='input-group mb-3'>
            
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon">{{ 'cart.changeQuantity' | translate }}</span>
                </div>
                <input type="number" #input (change)='changeQuantity(product, input.value)' class="form-control" value='{{cart.get(product)}}' aria-describedby="addon" pattern='^[0-9]+$'>
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

