<div class="container">
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        Orders
      </div>
      <div class="card-body">
        <a class="btn btn-primary" routerLink="/admin/orders">Orders</a>
        <p class="card-text">View all the orders</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Products
      </div>
      <div class="card-body">
        <a class="btn btn-primary" routerLink="/admin/products">Products</a>
        <p class="card-text">Add, delete and modify the products</p>
      </div>
    </div>
    <div *ngIf='isAdmin' class="card">
      <div class="card-header">
        Users
      </div>
      <div class="card-body">
        <a class="btn btn-primary" routerLink="/admin/users">Users</a>
        <p class="card-text">View the users</p>
      </div>
    </div>
  </div>
</div>