<div class="container">
  <div class="card-deck">
    
    <div class="card">
      <div class="card-header">
        {{ 'admin.ordersTitle' | translate }}
      </div>
      <div class="card-body">
        <a class="btn btn-primary" routerLink="/admin/orders">
          {{ 'admin.ordersLink' | translate }}
        </a>
        <p class="card-text">
          {{ 'admin.ordersDescription' | translate }}
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{ 'admin.productsTitle' | translate }}
      </div>
      <div class="card-body">
        <a class="btn btn-primary" routerLink="/admin/products">
          {{ 'admin.productsLink' | translate }}
        </a>
        <p class="card-text">
          {{ 'admin.productsDescription' | translate }}
        </p>
      </div>
    </div>

    <div *ngIf='isAdmin' class="card">
      <div class="card-header">
        {{ 'admin.usersTitle' | translate }}
      </div>
      <div class="card-body">
        <a class="btn btn-primary" routerLink="/admin/users">
          {{ 'admin.usersLink' | translate }}
        </a>
        <p class="card-text">
          {{ 'admin.usersDescription' | translate }}
        </p>
      </div>
    </div>

    <div *ngIf='isAdmin' class="card">
      <div class="card-header">
        Statistics
      </div>
      <div class="card-body">
        <a class="btn btn-primary" routerLink="/admin/statistics">
          Statistics
        </a>
        <p class="card-text">
          View user statistics
        </p>
      </div>
    </div>

  </div>
</div>