<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-md">

  <!--Avoid flickering on non xs devices-->
  <!--Show only on xs and sm devices-->
  <button class="d-block d-md-none btn btn-outline-primary mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation" (click)='expandAndToggle()'>
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Hide only on xs and sm devices-->
  <button class="d-none d-md-block btn btn-outline-primary mr-2" type="button" (click)='toggleSidebar()'>
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" routerLink="/">Kondekas</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/about">{{ 'navbar.about' | translate }}</a>
      </li>
      <li *ngIf="authService.getRole === 'admin' || authService.getRole === 'worker'" class="nav-item">
        <a class="nav-link" routerLink="/admin">{{ 'navbar.admin' | translate }}</a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle mr-2" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'navbar.language' | translate }}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a *ngFor="let lang of translate.getLangs()" class="dropdown-item btn"
             [class.bg-primary]="lang === translate.currentLang"
             [class.text-white]="lang === translate.currentLang"
             (click)="translate.use(lang)">
            {{ lang }}
          </a>
        </div>
      </li>
      <li class='nav-item'>
        <a class='btn btn-outline-secondary mr-2' routerLink='/cart'>
          {{ 'navbar.cart' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isAuthenticated" class="btn btn-outline-primary mr-2" routerLink="/login">
          {{ 'navbar.login' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isAuthenticated" class="btn btn-outline-primary mr-2" routerLink="/register">
          {{ 'navbar.register' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <button *ngIf="authService.isAuthenticated" class="btn btn-outline-danger mr-2" (click)="onLogOut()">
          {{ 'navbar.logout' | translate }}
        </button>
      </li>
    </ul>
  </div>
</nav>