<div class='navbar navbar-expand sticky-top navbar-dark bg-dark flex-column flex-sm-row navbar-expand-sm'>
  <a class='navbar-brand mr-2' routerLink='/' aria-label='Kondekas'>Kondekas</a>
  <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle mr-2" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'navbar.language' | translate }}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a *ngFor="let lang of translate.getLangs()" class="dropdown-item btn"
             [class.bg-primary]="lang === translate.currentLang"
             [class.text-white]="lang === translate.currentLang"
             (click)="translate.use(lang)">
            {{ lang }}
          </a>
        </div>
      </li>
      <li class='nav-item'>
        <a class='btn btn-outline-secondary mr-2' routerLink='/cart'>
          {{ 'navbar.cart' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isAuthenticated" class="btn btn-outline-primary mr-2" routerLink="/login">
          {{ 'navbar.login' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <button *ngIf="authService.isAuthenticated" class="btn btn-outline-danger mr-2" (click)="onLogOut()">
          {{ 'navbar.logout' | translate }}
        </button>
      </li>
    </ul>
    <button class='btn btn-outline-primary mr-2' type='button' aria-label='Toggle sidebar' (click)='toggleSidebar()' >
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>