<div class='navbar navbar-expand sticky-top navbar-dark bg-dark flex-column flex-sm-row d-flex justify-content-center navbar-expand-sm'>
  <a class='navbar-brand mr-2 mt-1' routerLink='/' aria-label='Kondekas'>Kondekas</a>

  <ul class="navbar-nav mr-auto flex-row">
      <li class="nav-item mr-2 mt-1">
          <a class="nav-link" routerLink="/about">{{ 'navbar.about' | translate }}</a>
      </li>
      <li *ngIf="authService.getRole === 'admin' || authService.getRole === 'worker'" class="nav-item mr-2 mt-1">
        <a class="nav-link" routerLink="/admin">{{ 'navbar.admin' | translate }}</a>
      </li>
    </ul>
  
  <div class='navbar-nav-scroll'>
  <ul class="navbar-nav ml-auto flex-row">
    <li class="nav-item dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle mr-2 mt-1" id="navbarDropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ 'navbar.language' | translate }}
      </button>
      <div class="dropdown-menu dropdown-menu-right mr-2 mt-1" aria-labelledby="navbarDropdownMenuLink">
        <a *ngFor="let lang of translate.getLangs()" class="dropdown-item btn"
            [class.bg-primary]="lang === translate.currentLang"
            [class.text-white]="lang === translate.currentLang"
            (click)="translate.use(lang)">
          {{ lang }}
        </a>
      </div>
    </li>
    <li class='nav-item'>
      <a class='btn btn-outline-secondary mr-2 mt-1' routerLink='/cart'>
        {{ 'navbar.cart' | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a *ngIf="!authService.isAuthenticated" class="btn btn-outline-primary mr-2 mt-1" routerLink="/login">
        {{ 'navbar.login' | translate }}
      </a>
    </li>
    <li class="nav-item">
      <button *ngIf="authService.isAuthenticated" class="btn btn-outline-danger mr-2 mt-1" (click)="onLogOut()">
        {{ 'navbar.logout' | translate }}
      </button>
    </li>
  </ul>
  </div>
  <button class='btn btn-outline-primary mr-2 mt-1' type='button' aria-label='Toggle sidebar' (click)='toggleSidebar()'>
    <span class="navbar-toggler-icon"></span>
  </button>
</div>